<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>ENTITY</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>글 내용</h2>
    </div>
    <div>
        <label for="boardId">글 번호</label>
        <input type="text" id="boardId" name="boardId" class="form-control" value="1" th:value="${board.id}" readonly>
    </div>
    <div>
        <label for="title">글 제목</label>
        <input type="text" id="title" name="itemName" class="form-control" value="제목A" th:value="${board.title}" readonly>
    </div>
    <div>
        <label for="content">글 내용</label>
        <input type="text" id="content" name="content" class="form-control" value="내용" th:value="${board.content}" readonly>
    </div>
    <div>
        <label for="writer">작성자</label>
        <input type="text" id="writer" name="writer" class="form-control" value="작성자" th:value="${board.writer}" readonly>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" onclick="location.href='editForm.html'" th:onclick="|location.href='@{/board/list/{boardId}/edit(boardId=${board.id})}'|" type="button">글 수정</button>
        </div>
        <div class="row">
            <button class="w-100 btn btn-primary btn-lg" onclick="location.href='list.html'" th:onclick="|location.href='@{/board/list}'|" type="button">삭제하기</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='list.html'" th:onclick="|location.href='@{/board/list}'|" type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>