<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>LIST</title>
</head>
<body>
<div class="page-wrapper">
  <div class="container-fluid">
    <div class="col-lg-8"><!--게시판 넓이 -->
      <div class="col-lg-12">
        <h1 class="page-header">게시판 목록</h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button type="button" class="btn btn-outline btn-primary pull-right"
          onclick="location.href='newAddForm.html'" th:onclick="|location.href='@{/board/add}'|">
            <i class="fa fa-edit fa-fw"></i> 글쓰기
          </button>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">게시판 목록</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>No.1</th>
              <th>제목</th>
              <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
              <td th:text="${board.id}">ID</td>
              <td><a href="entity.html" th:href="@{|/board/entity/${board.id}|}" th:text="${board.title}">제목</a></td>
              <td th:text="${board.writer}">작성자</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
